<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <title>Contact Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width height=device-height initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="images/Flogo.png" type="image/x-icon" />
    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700,800%7CRubik:300,300i,400,400i,500,500i,700,700i,900,900i">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-top">
                <div class="preloader-top-sun"><img src="images/Flogo.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header page-header-1 context-dark">
            <div class="page-header-1-figure m-parallax">
                <div class="page-header-1-image m-parallax-image" style="background-image: url(images/bg-image-1.jpg);">
                </div>
            </div>
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
                    data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
                    data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed"
                    data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
                    data-lg-stick-up-offset="1px" data-xl-stick-up-offset="1px" data-xxl-stick-up-offset="1px"
                    data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle"
                                    data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand"><a class="brand" href="/"><img class="brand-logo-dark"
                                            src="images/logo3.png" alt="" width="149" height="50"
                                            srcset="images/logo3.png 2x" /><img class="brand-logo-light"
                                            src="images/logo3.png" alt="" width="146" height="50"
                                            srcset="images/logo3.png 2x" /></a>
                                </div>
                            </div>
                            <div class="rd-navbar-nav-wrap">
                                <!-- RD Navbar Nav-->
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item "><a class="rd-nav-link" href="/">Home</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/about">About Us</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" href="/event">Events</a>
                                        <!-- RD Navbar Dropdown-->
                                        {{!-- <ul class="rd-menu rd-navbar-dropdown">
                                            <li class="rd-dropdown-item"><a class="rd-dropdown-link"
                                                    href="single-event.html">Single Event</a></li>
                                        </ul> --}}
                                    </li>
                                    <li class="rd-nav-item "><a class="rd-nav-link" href="/gallery">Gallery</a>
                                    </li>
                                    <li class="rd-nav-item active"><a class="rd-nav-link" href="/contact">contact Us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="rd-navbar-collapse-outer context-light">
                                <button class="rd-navbar-collapse-toggle"
                                    data-multitoggle="#rd-navbar-collapse, #toggle-inner"><span
                                        class="rd-navbar-collapse-toggle-element"
                                        id="toggle-inner"><span></span></span><span
                                        class="rd-navbar-collapse-toggle-text">More</span></button>
                                <div class="rd-navbar-collapse" id="rd-navbar-collapse">
                                    <button class="rd-navbar-collapse-close"
                                        data-multitoggle="#rd-navbar-collapse"><span
                                            class="rd-navbar-collapse-toggle-element active"><span></span></span></button>
                                    <h4 class="font-weight-sbold">Address & Phone</h4>
                                    <h5 class="ls-1">Shop No. 4, Jai Prakash Nagar Adhartal, Jabalpur 482004</h5>
                                    <h5 class="ls-1"><a href="tel:+91-8839698959">+91-8839698959</a></h5>
                                    <div class="divider divider-small"></div>
                                    <h4 class="font-weight-sbold">Our Portfolio</h4>
                                    <!-- Owl Carousel-->
                                    <div class="owl-carousel owl-carousel-tour-minimal" data-items="1" data-dots="true"
                                        data-nav="false" data-auto-width="true" data-loop="true" data-margin="20px"
                                        data-sm-margin="0px" data-autoplay="4000" data-mouse-drag="false">
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(images/tour-1-258x273.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Corporate
                                                                Events</a></h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(images/tour-2-258x273.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Weddings</a>
                                                        </h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(images/tour-3-258x273.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Birthdays and
                                                                Parties</a></h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                        <div class="owl-item-inner">
                                            <article class="tour-minimal context-dark">
                                                <div class="tour-minimal-inner"
                                                    style="background-image: url(images/tour-4-258x273.jpg);">
                                                    <div class="tour-minimal-header">
                                                    </div>
                                                    <div class="tour-minimal-main">
                                                        <h4 class="tour-minimal-title"><a href="/event">Private
                                                                Events</a></h4>
                                                        <div class="tour-minimal-pricing">
                                                            <p class="tour-minimal-price tour-minimal-price-new"></p>
                                                        </div>
                                                        <p class="tour-minimal-comment"></p>
                                                    </div>
                                                    <div class="tour-minimal-caption">
                                                        <p>We offer quality event organization.</p>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div><a class="button button-default-outline" href="/gallery">View Gallery</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rd-navbar-placeholder"></div>
                </nav>
            </div>
            <section class="breadcrumbs-custom">
                <div class="breadcrumbs-custom-inner">
                    <div class="container">
                        <div class="breadcrumbs-custom-main m-parallax-content">
                            <svg class="breadcrumbs-custom-line" width="70" height="8" viewBox="0 0 70 8" fill="none">
                                <path
                                    d="M0 1C5 1 5 7 9.92 7C14.84 7 14.92 1 19.85 1C24.78 1 24.85 7 29.77 7C34.69 7 34.77 1 39.71 1C44.65 1 44.71 7 49.63 7C54.55 7 54.63 1 59.57 1C64.51 1 64.57 7 69.5 7"
                                    stroke-width="1.98" stroke-miterlimit="10"></path>
                            </svg>
                            <h2 class="breadcrumbs-custom-title">Contact Us</h2>
                            <p class="big">Want to avail our event management services? At Boost Event, we are happy to
                                take up your project and turn it into a successful endeavor.</p>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <!-- Get in Touch-->
        <section class="section section-lg bg-default">
            <div class="container">
                <h3>Get in Touch</h3>
                <!-- RD Mail form-->
                <form class="rd-form rd-mailform form-lg" method="post" action="/contactUser">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="row row-30">
                        <div class="col-lg-4">
                            <div class="form-wrap form-wrap-icon">
                                <input class="form-input" id="contact-name" type="text" name="name"
                                    data-constraints="@Required">
                                <label class="form-label" for="contact-name">Name</label>
                                <div class="icon form-icon mdi mdi-account-outline text-primary"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-wrap form-wrap-icon">
                                <input class="form-input" id="contact-phone" type="text" name="phone"
                                    data-constraints="@PhoneNumber">
                                <label class="form-label" for="contact-phone">Phone</label>
                                <div class="icon form-icon mdi mdi-phone text-primary"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-wrap form-wrap-icon">
                                <input class="form-input" id="contact-email" type="email" name="email"
                                    data-constraints="@Email @Required">
                                <label class="form-label" for="contact-email">E-mail</label>
                                <div class="icon form-icon mdi mdi-email-outline text-primary"></div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-wrap form-wrap-icon">
                                <label class="form-label" for="contact-message">Message</label>
                                <textarea class="form-input" id="contact-message" name="message"
                                    data-constraints="@Required"></textarea>
                                <div class="icon form-icon mdi mdi-message-outline text-primary"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-wrap form-wrap-button">
                        <button class="button button-lg button-primary" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </section>
        <!-- Addresses-->
        <section class="section section-md bg-gray-100 address">
            <div class="container address-container">
                <div class="row row-30 row-address">
                    <div class="col-sm-6 col-lg-4">
                        <!-- Box 1-->
                        <address class="box-1">
                            <p class="heading-4 box-1-title">Jabalpur</p>
                            <p class="box-1-address heading-5">Shop No. 4, Jai Prakash Nagar Adhartal, 482004</p>
                            <p class="box-1-tel heading-3"><a href="tel:+91-8839698959">+91-8839698959</a></p>
                        </address>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Footer-->
        {{>footer}}