<footer class="section footer-classic">
    <div class="footer-classic-main bg-image context-dark" style="background-image: url(images/bg-image-2.jpg);">
        <div class="container">
            <div class="footer-classic-layout">
                <div class="footer-classic-layout-item">
                    <h5 class="footer-classic-title">Quick Links</h5>
                    <div class="footer-classic-item-block footer-classic-item-block-1">
                        <ul class="list list-sm cols-custom">
                            <li><a href="/about">About</a></li>
                            <li><a href="/about">Customer Reviews</a></li>
                            <li><a href="/contact">Contacts</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                        </ul>
                        <div class="group group-sm"><a class="link-1 icon mdi mdi-facebook"
                                href="https://www.facebook.com/Boost-Events-Promotions-2075255389201049"></a><a
                                class="link-1 icon mdi mdi-instagram"
                                href="https://www.instagram.com/boosteventspromotions"></a>
                            {{!-- <a class="link-1 icon mdi mdi-behance" href="#"></a> --}}
                            {{!-- <a class="link-1 icon mdi mdi-twitter" href="#"></a> --}}
                        </div>
                    </div>
                </div>
                <div class="footer-classic-layout-item footer-classic-item-block-2">
                    <h5 class="footer-classic-title">Get in touch</h5>
                    <div class="footer-classic-item-block">
                        <ul class="list list-md">
                            <li>Shop No. 4, Jai Prakash Nagar Adhartal, Jabalpur</li>
                            <li><a href="tel:+91-8839698959">+91-8839698959</a></li>
                            <li><a href="mailto:info@boostevent.in">info@boostevent.in</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-classic-layout-item">
                    <h5 class="footer-classic-title">Our Services</h5>
                    <div class="footer-classic-item-block">
                        <ul class="list list-sm">
                            <li><a href="/contact">Conference</a></li>
                            <li><a href="/contact">Stall Fabrication</a></li>
                            <li><a href="/contact">Product Launch</a></li>
                            <li><a href="/contact">Birthday/Wedding Parties</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-classic-aside">
        <div class="container">
            <p class="rights"><span>&copy;&nbsp; </span><span
                    class="copyright-year"></span><span>&nbsp;</span><span>Boost Event</span><span>. All rights
                    reserved.&nbsp;</span><a href="https://www.instagram.com/rakshit.exe" target="blank">By Rakshit Tiwari
                 	</a><span>.</span></p>
        </div>
    </div>
</footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="js/core.min.js"></script>
<script src="js/script.js"></script>

</body>

</html>